body {
    font-family: Times New Roman, serif;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
}
h1 {
    color: #4682B4;
    line-height: 5;
}
a {
    color: #2980b9;
    line-height: 2.5;
}
