body {
    font-family: Times New Roman, serif;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    background-color: #4c698A; 
    color: #e2e8f0; /* light text */
}
h1 {
    color: #000000;
    line-height: 3;
}
h2 {
    color: #5c5c5e;
    line-height: 2.5;
}
a:hover{
    color: #2980b9;
    {
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}
